<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/dist/css/libs.css" />
  <link rel="stylesheet" href="/dist/css/main.css" />
  <script src="/dist/js/libs.js"></script>
  <script src="/dist/js/scripts.js"></script>
  <title>EBM Select</title>
</head>
<body>
  <%- include navbar.ejs %>

  <div class="container">
    <header>
      <img src="/dist/img/centrale.jpg" class="img-responsive"/>
    </header>
  </div>

</div>
