@import 'params';
@import 'content/content';
@import 'header/header';
@import 'header/navbar';
@import 'inputs/input-suggest';

*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  background-color: $blue;
}

html{
  overflow-y: scroll;
}
