.input-suggest-container{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  /* On groupe l'input avec le container de résultats pour qu'ils aient la même largeur */
  .input-suggest-group{
    position: relative;
    width: 100%;

    input{
      /* Pas besoin de style particulier, form-control de Bootstrap s'en charge */
    }

    .suggest-list{
      /* On met un border radius sur le container pour
       * faire un peu plus Bootstrap.
       * Ne pas oublier d'en mettre un aussi sur les
       * premiers et derniers éléments de la liste sinon
       * ils débordent du cadre.
       */
      $brContainer: 4px;
      border-radius: $brContainer;

      :first-child{
        border-top-right-radius: $brContainer;
        border-top-left-radius: $brContainer;
      }
      :last-child{
        border-bottom-right-radius: $brContainer;
        border-bottom-left-radius: $brContainer;
      }


      position: absolute;
      width: 100%;
      background-color: $blue;
      z-index: 1000;


      list-style-type: none;
      padding: 0;
      margin: 0;

      /* Éléments de la liste */

      li{
        padding-left: 20px;
      }
      li, li>a{
        display: block;
        text-decoration: none;
        height: 30px;
        line-height: 30px;
        color: white;
      }
      :hover{
        background-color: $orange;
      }
    }
  }
  .button-reset{
    height: 30px;
    line-height: 30px;
    padding: 0 10px 0 10px;
    img{
      max-height: 50%;
      cursor: pointer;
    }
  }
}
