<div
  template="templateSuggestStudents"
  placeholder="Nom de l'étudiant"
  url="api/students/begin/"
  class="input-suggest-container">
</div>

<script>
function templateSuggestStudents(obj, begin){

  function boldPart(str,toBold){
    return str.replace(new RegExp("^"+toBold+"", 'gi'), '<strong>$&</strong>');
  }

  return "<a href=\"/student/"+obj.id+"\">"+boldPart(obj.nom+" "+obj.prenom, begin)+"</a>";
}
</script>
